<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DhakaFlix Searcher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e892234521.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container {% if search_performed %}search-active{% endif %}">
        <a href="/" style="text-decoration: none; color: #F4B400;">
            <h1 style="color: #F4B400;" id="search-title">DhakaFlix Searcher</h1>
        </a>
        
        <form id="searchForm" action="/search" method="get">
            <div class="search-box">
                <input type="text" id="searchInput" name="query" placeholder="Search for games, movies, anime, cartoon and etc." required>
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>

        <div class="results">
            {% for file in search_results %}
                <div class="result-item">
                    <i class="{{ file.icon }}" aria-hidden="true"></i>
                    <span class="file-name">{{ file.name }}</span>
                    <a href="{{ file.url }}" target="_blank" class="download-btn"><i class="fas fa-download" aria-hidden="true"></i></a>
                </div>
            {% endfor %}
        </div>
    </div>
	
<script>
    document.getElementById('searchForm').onsubmit = function(event) {
        document.getElementById('search-title').style.transform = 'translateY(-130px)';
		document.getElementById('searchForm').style.transform = 'translateY(-130px)'
        document.querySelector('.results').style.transform = 'translateY(-20px)';
    };
</script>
	
</body>

</html>
